<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Form $block */
?>


<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$model=$objectManager->create('Training\Reviews\Model\Helloworld');
$datacollection=$model->getCollection();


 foreach ($datacollection as $data) { ?>
<div class="pager">
    <div class="nickname"><?php    echo $data->getnickname();?> </div>
    <div class="textreview"><?php    echo $data->gettextreview();
}
?>
        <form class="" action="<?php echo $block->
            getBaseUrl().'reviews/index/save'; ?>" id="webcreta_helloworld -form" method="post">
            <fieldset class="fieldset">
                <div class="field title">
                    <label class="label" for="nickname"><span>Nick Name</span></label>
                    <div class="control">
                        <input name="title" id="nickname" title="nickname" value="" class="input-text" type="text">
                    </div>
                </div>
                <div class="field author">
                    <label class="label" for="textreview"><span>Text Review</span></label>
                    <div class="control">
                        <input name="author" id="textreview" title="textreview" value="" class="input-text" type="text">
                    </div>
                </div>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" title="Submit" class="action submit primary">
                        <span>Submit Review</span>
                    </button>
                </div>
            </div>
        </form>